* {
  margin: 0;
  padding: 0;
  /* color: inherit; */
  text-decoration: none;
}

body {
  overflow: hidden;
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
}

header {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(to right, #ffffffb4, rgba(255, 255, 255, 0));
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar img {
  width: 150px;
}

.navbar .center-nav,
.login-signup a:first-child,
.login-signup a:last-child {
  background-color: #b9b5ae5d;
  border-radius: 30px;
  padding: 10px 30px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.navbar .login-signup {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
}

.navbar .center-nav a,
.login-signup a {
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.navbar .center-nav a:hover,
.login-signup a:hover {
  color: #583110;
  text-decoration: underline;
}

.header-content {
  text-align: left;
  color: white;
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: clamp(1.1rem, 2.5vw, 2.5rem);
  transform: translate(-50%, -50%);
}

.get-started-btn {
  margin-top: 20px;
  display: flex;
  width: 90%;
  box-sizing: border-box;
  padding: 10px 0;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: #fcf4ef;
  background-color: #79614e;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/* Elimu Afya colors */
/* #231f20 - Dark gray */
/* #79614e - Light brown */
/* #c4a484 - Beige */
/* #273024 - Dark green */
/* #68785a - Gray green */
/* #71b8d5 - Azure */
/* #5e91a9 - Gray azure */
/* #586976 - Gray azure */
/* #302a24 - Dark brown */
/* #80858c - Gray */
/* #989981 - Gray yellow green */
/* #98a5b0 - Gray azure */
/* #ccccca - Light gray */
/* #cddcde - Light azure */
/* #d5d5d5 - Light gray */
/* #ececec - Light gray */
/* #29211b - Dark brown */
/* #60462e - Dark gray brown */
/* #d8d6d0 - Light yellow */
/* #3a4b59 - Gray azure */
/* #a2abb2 - Gray azure */
